<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
	<div class="row mt-5 justify-content-center">
		<div class="col-2">
			<div th:replace="fragments.html :: settings-menu(currentMenu='tags')"></div>
		</div>
		<div class="col-8">
			<div class="row">
				<h2 class="col-sm-12" >관심있는 스터디 주제</h2>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="alert alert-info" role="alert">
						해당 주제의 스터디가 생기면 알림을 받을 수 있습니다.
						<br> 태그를 입력하고(,) 또는 엔터를 입력하세요.
					</div>

					<!-- 사용자가 입력하는 글자와 근접한 데이터가 있으면 자동 입력 리스트 -->
					<div id="whitelist" th:text="${whitelist}" hidden></div>
					<!-- Thymeleaf 가 제공하는 String Util 을 사용하여 조인 -->
					<!-- List<String> tags = List.of("Spring", "Hibernate") => Spring, Hibernate -->
					<input id="tags" type="text" name="tags" th:value="${#strings.listJoin(tags, ',')}"
					       class="tagify-outside" placeholder="참여하고 싶은 주제(태그)를 입력해주세요." aria-describedby="tagHelp"/>
				</div>
			</div>
		</div>
	</div>
</div>
<script th:replace="fragments.html :: ajax-csrf-header"></script>
<script th:replace="fragments.html :: update-tags (baseUrl = '/settings/tags')"></script>
</body>
</html>