<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
	<div class="row mt-5 justify-content-center">
		<div class="col-2">
			<div th:replace="fragments.html :: settings-menu(currentMenu='tags')"></div>
		</div>
		<div class="col-8">
			<div class="row">
				<h2 class="col-sm-12" >관심있는 스터디 주제</h2>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="alert alert-info" role="alert">
						해당 주제의 스터디가 생기면 알림을 받을 수 있습니다.
						<br> 태그를 입력하고(,) 또는 엔터를 입력하세요.
					</div>

					<!-- 사용자가 입력하는 글자와 근접한 데이터가 있으면 자동 입력 리스트 -->
					<div id="whitelist" th:text="${whitelist}" hidden></div>
					<!-- Thymeleaf 가 제공하는 String Util 을 사용하여 조인 -->
					<!-- List<String> tags = List.of("Spring", "Hibernate") => Spring, Hibernate -->
					<input id="tags" type="text" name="tags" th:value="${#strings.listJoin(tags, ',')}"
					       class="tagify-outside" placeholder="참여하고 싶은 주제(태그)를 입력해주세요." aria-describedby="tagHelp"/>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
<script type="application/javascript" th:inline="javascript">
	$(function() {
		var csrfToken = /*[[${_csrf.token}]]*/ null;
		var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
		$ (document).ajaxSend(function (e, xhr, options) {
			xhr.setRequestHeader(csrfHeader, csrfToken);
		});
	});
</script>
<script type="application/javascript">

	// FORM 뿐만아니라 ajax도 POST 요청시 csrf 토큰 전송 필요
	$(function () {
		function tagRequest(url, tagTitle) {
			$.ajax({
				dataType: "json",
				autocomplete: {
					enabled: true,
					rightKey: true,
				},
				contentType: "application/json; charset=utf-8",
				method: "POST",
				url: "/settings/tags" + url,
				data: JSON.stringify({'tagTitle': tagTitle})
			}).done(function (data, status) {
				console.log("${data} and status is ${status}");
			});
		}

		function onAdd(e) {
			tagRequest("/add", e.detail.data.value);
		}

		function onRemove(e) {
			tagRequest("/remove", e.detail.data.value);
		}

		var tagInput = document.querySelector("#tags");

		var tagify = new Tagify(tagInput, {
			pattern: /^.{0,20}$/,
			whitelist: JSON.parse(document.querySelector("#whitelist").textContent),
			dropdown : {
				enabled: 1, // suggest tags after a single character input
			} // map tags
		});

		tagify.on("add", onAdd);
		tagify.on("remove", onRemove);

		// add a class to Tagify's input element
		tagify.DOM.input.classList.add('form-control');
		// re-place Tagify's input element outside of the  element (tagify.DOM.scope), just before it
		// 아래 코드는 3.5.1 버전까지 적용됨, 현재 outside 는 자동 적용..?
		// tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
	});
</script>
</body>
</html>